.appstart{    
    margin: 0;
    padding: 0;     
}

html, body {
margin: 0;
padding: 0;
}

.intro{
color:rgb(152, 99, 34);
text-align: center;
padding-top: 3%;
padding-bottom: 3%;
background-image: url('../../../assets/photo-1501630834273-4b5604d2ee31.jpg');
background-size: cover;
background-position: center;
}