.welcome{
    color:rgb(187, 203, 227);
    font-size: 35px;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
    background-image: url('../../../assets/delphi-lux-cinema-web-1_95480d34_1500x930.jpg');
    opacity:0.5;
    background-size: cover;
    background-position: center;
    }