.centrar{
    text-align: center;
    padding-bottom: 9%;
}
.hform{
    padding-top: 8%;
}
.labelsplit{
    padding-top:2%;
}

.bottom{
    display: block;
    margin: auto;
    margin-top:2%
}

.form-container{
    display: flex;
    flex-direction: column;
}

.formsdiv {
    color: red;
}

.inputform{
    width: calc(33.33% - 20px); 
    display: block;
    margin: 0 auto;
}